.profile {
    a{
        text-decoration: none;
        color: inherit;
    }
    .gradient-background {
        background: linear-gradient(145deg, #FFF 0%, #40AA54 100%);
        height: 260px;
        border-radius: 0 0 25px 25px;
        padding-top: 1px;
        .profile-picture-container {
            .profile-picture {
                width: 7.8125rem;
                margin: auto;
                height: 7.8125rem;
                border-radius: 50%;
                object-fit: cover;
                border: 5px solid #40AA54;
            }
            .camera-border {
                border: 5px solid #40AA54;
                border-radius: 50%;
                width: fit-content;
                background-color: white;
                position: relative;
                bottom: 50px;
                left: 50%;
                transform: translateX(30px);
                padding: 12px;
            }
        }
    }
    .detail-wrapper{
        margin: 40px 35px 0 16px ;
        .name-wrapper{
            display: flex;
            input:nth-child(1){
                width: 70%;
                margin-right: 10px;
            }
        }
        p{
            font-family: "poppins-regular";
            font-size: 1rem;
            color: #2C3066;
            &.legend-styling{
                color: #777777;
                font-size: .875rem;
            }
            &.username{
                font-family: "poppins-bold";
            }
        }
        .divider{
            height: .0625rem;
            background-color: #70707029;
            margin: 18px 0 35px 0;
        }
        input{
            font-family: "poppins-regular";
            font-size: .875rem;
            padding: 10px 20px;
            width: 100%;
            background-color: #D8EEDC;
            border: none;
            border-radius: 50px;
        }
    }
    button{
        display: block;
        font-size: 18px;
        color: white;
        background-color: #40AA54;
        border: none;
        border-radius: .5rem;
        width: 21.4375rem;
        height: 3.125rem;
        margin-bottom: 100px;
        margin-inline: auto;
    }
}