.product-card-small{
    width: 100%;
    text-align: center;
background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 85px;
    font-family: "poppins-regular";
    .pictures{
        position: relative;
        img{
            width: 50px;
            border-radius: 10px;
            margin: auto;
            object-fit: contain;
        }
        .like{
            height: 10px;
            width: 10px;
            position: absolute;
            top: 5px;
            right: -10px;
        }
    }
    h2{
        font-size: 12px;
        color: #2C3066;
        margin-top: 3px;
    }
    div{
        margin-inline: 20px;
        display: flex;
        justify-content: space-between;
        &.price-rating{
            margin-top: 5px;
        }
        h3{
            font-size: 13px;
            color: #2C3066;
            text-align: left;
        }
        p{
            color: #777777;
            font-size: 13px;
            img{
                width: 10px;
                height: 10px;
                display: inline;
            }
        }
}
}