*{
    margin: 0;padding: 0;box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
@font-face {
    font-family: "poppins-bold";
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppins-regular";
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppins-light";
    src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "poppins-italic";
    src: url(./assets/fonts/Poppins/Poppins-Italic.ttf);
}
@font-face {
    font-family: "poppins-medium";
    src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}