.welcome-page {
  text-align: center;
  margin-bottom: 50px;
  img {
    margin-inline: auto;
    margin-top: 5rem;
  }
  h1 {
    font-family: "poppins-regular";
    color: #40aa54;
    font-size: 3.1875rem;
    margin-top: 10px;
    span {
      font-family: "poppins-bold";
    }
  }
  h2 {
    font-family: "poppins-medium";
    font-size: 1.375rem;
    color: #2c3066;
    margin-top: 2rem;
  }
  p {
    font-family: "poppins-regular";
    font-size: 1rem;
    color: #555555;
    margin: 1rem 0 1rem 0;
    width: 80%;
    margin-inline: auto;
    background-color: #55555519;
    padding: 1rem;
    border-radius: 25px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    button {
      width: 80%;
      padding: 1rem;
      font-family: "poppins-regular";
      font-size: 1.125rem;
      border: none;
      border-radius: 8px;
      &:nth-of-type(1) {
        background-color: #d8eedc;
        color: #2c3066;
      }
      &:nth-of-type(2) {
        background-color: #777777;
        color: #ffffff;
      }
    }
  }
  .start-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #40aa54;
    transition: 0.1s;
    &.hide-overlay {
      opacity: 0;
      pointer-events: none; // Ensure clicks don't interact with hidden overlay
      display: none;
    }

    img {
      margin-top: 15rem;
    }
    h1 {
      color: white;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .welcome-page {
    margin-bottom: 50px;

    p {
      width: 50%;
      padding: 1rem;
    }

    div {

      button {
        width: 50%;
      }
    }
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .welcome-page {
    margin-bottom: 50px;

    p {
      width: 40%;
      padding: 1rem;
    }

    div {

      button {
        width: 40%;
      }
    }
  }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }
