.item-details{
    font-family: "poppins-regular";
    text-align: center;
    margin-bottom: 6.25rem;
    img{
        margin: auto;
        margin-top: 20px;
        width: 20.8125rem;
        height: 13.875rem;
        margin-bottom: 1.25rem;
        object-fit: contain;
    }
    .unit-highlight{
        font-size: 12px;
        color: #ffffff;
        background: #40AA54;
        padding: .3125rem .9375rem;
        border-radius: .3125rem;
    }
    h1{
        font-size: 2.625rem;
        color: #2C3066;
        margin-top: .625rem;
    }
    h3{
        color: #2C3066;
        font-size: 16px;
        margin-bottom: .5625rem;
    }
    img.star{
        width: .5625rem;
        height: .5625rem;
        display: inline;
        margin: 0
        ;
    }
    h2{
        font-family: "poppins-medium";
        color: #777777;
        font-size: 16px;
    }
    .divider{
        height: .0625rem;
        width: 24.4375rem;
        background-color: #70707029;
        margin:  2.3438rem auto 1.3125rem auto;
    }
    .quantity{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin: .875rem auto 2.5625rem auto;
        button{
            width: 3.25rem;
            height: 3.25rem;
            border-radius: 50%;
            margin: auto;
            border: .0625rem solid #2C3066;
            background: none;
        }
    }
    .cart-icon{
        width: 1.875rem;
        height: 1.5625rem;
    }
    .add-to-cart{
        font-size: 18px;
        color: #2C3066;
        background-color: #D8EEDC;
        border: none;
        border-radius: .5rem;
        width: 21.4375rem;
        height: 3.125rem;
    }
}