.nav {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: white; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    .cart-link{
        position: relative;
        top: -25px;
    }
    a {
        text-decoration: none;
        color: inherit;
        position: relative; 
        bottom: 10px; 
    }
    div {
        img {
        margin: auto;
        margin-top: 20px;
        }
        span {
            font-family: "poppins-regular";
            color: #777777;
            font-size: 12px;
            &.active{
                color: #40AA54;
            }
        }
    }
}